
/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ████████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ████████████
 ██░░░░░░░░████
 ██░░████░░░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░████░░░░██
 ██░░░░░░░░████
 ████████████
*/

.dropdown .menuitemcontainer {
  display: none;
}

.dropdown .toggle-button {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  padding: 10px;
}

.dropdown .menuitem {
  display: block;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████
 ██░░░░░░██
 ████░░████
   ██░░██
   ██░░██
   ██░░██
   ██░░██
   ██░░██
 ████░░████
 ██░░░░░░██
 ██████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
         ██████
         ██░░██
         ██░░██
         ██░░██
         ██░░██
         ██░░██
 ██████  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ████████
 ██░░██  ██░░░░██
 ██░░██  ██░░████
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░████
 ██░░██  ██░░░░██
 ██████  ████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/*
██████          ██████
██░░██████████████░░██
██░░░░░░░░░░░░░░░░░░██
██░░██████░░██████░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██████  ██░░██
██░░██          ██░░██
██░░██          ██░░██
██░░██          ██░░██
██████          ██████
*/

.menu {
  position: fixed;
  width: 100%;
  padding-right: 50px;
  /*Needs to be the same as video top margin*/
  min-height: 5%; 
  height: auto;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: right; */
  /* background: #254992; */
  /* background: linear-gradient(to right, black, 20%, red); */
  background: linear-gradient(to right, black, 40%, #060d1a);
  z-index: 10; /*Higher the number, the further front the content is*/
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  overflow: hidden;
  /* gap: 10px; */
}

/* ---------------------------------------------------------------------------------------------- N ---------------------------------------------------------------------------------------------- */
/* 
██████████      ██████
██░░░░██████    ██░░██
██░░░░░░░░████  ██░░██
██░░████░░░░██  ██░░██
██░░██████░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██████░░██
██░░██  ██░░░░████░░██
██░░██  ████░░░░░░░░██
██░░██    ██████░░░░██
██████      ██████████
 */

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/*
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██████████████
*/

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/* 
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██░░██████████
██░░██
██░░██
██░░██
██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ████████████████
  */
/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████████████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ██░░██████░░████
 ██░░██  ██░░██
 ██░░██  ██░░██████
 ██░░██  ██░░░░░░██
 ██████  ██████████
 */

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████░░██
         ██░░██
 ██████████░░██
 ██░░░░░░░░░░██
 ██████████████
 */

.servicessection {
  display: inline-flex;
  width:50%;
  vertical-align: top;
}


/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██████░░██████
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██████
*/

.textdescription {
  /* color: #6EC1E4; */
  color: white;
  font-weight: 500;
  font-size: 20px;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░░░██░░░░██
 ████░░░░░░████
   ████░░████
     ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████          ██████
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██  ██████  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██████░░██████░░██
 ██░░░░░░░░░░░░░░░░░░██
 ██░░██████░░██████░░██
 ██████  ██████  ██████
*/

.welcomecontainer {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 10% 5% 10% 5%; /*top, right, bottom. left*/
  border-bottom: 10px solid #38348b;
  /* background-color:#122449; */
  background: linear-gradient(to right, #060d1a, 60%, #091325);
}

.welcomedescription {
  display: block;
  font-size: 40px;
  font-weight: 40;
  padding: 20px 0px 10px 0px; 
}

.welcometext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 0px 0px 0px; /*Top, right, bottom, left - different measurements based on container padding*/
}

.welcomevideo {
  display: inline;
  width: 100%;
  margin: 20px 0px 0px 0px;
  height: max-content;
  box-shadow: 0px 0px 100px 10px #060d1a;  
  /* margin: 100px 0px 100px 0px; */
  /* filter: sepia(1) hue-rotate(200deg);  */
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ██░░░░░░██
   ████░░░░░░████
   ██░░░░██░░░░██
 ████░░██  ██░░████
 ██░░░░██  ██░░░░██
 ████████  ████████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ████░░████
       ██░░██
       ██░░██
       ██░░██
       ██░░██
       ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████████
 ██░░░░░░░░░░░░░░██
 ████████████░░░░██
         ████░░████
       ████░░████
     ████░░████
   ████░░████
 ████░░████
 ██░░░░████████████
 ██░░░░░░░░░░░░░░██
 ██████████████████
*/



