* {
    font-family: sans-serif;
    margin: 0px; /*This document has a header and a scrollable body, this line sets all margins at zero to prevent content moving when new elements are added*/
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

/*This is the color of links*/
a {
    color: #254992;
    position: relative;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ████████████████
*/

body {
    margin: 0 0 0 0;
    background-color: #fff;
    position: relative;
    height: 100%;
    position: fixed; /*When the Body is fixed, we don't see scroll bar overlaying the menu, instead we only see scroll bars where the content extends past the height of the window*/
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

.contactfooter {
    /* background: #0e0e21; */
    background: #060d1a;
    position: sticky;
    display: block; /*Display block moves all surrounding content above or below this content*/
    /*This height needs to match the .scrollablecontent padding*/
    height: 5%; /*having to use % instead of pixels for consistency with menu sizing*/ 
    width: 100%;
    top: 100%; /*keeps footer at the bottom of the page*/
    z-index: 3;
    align-items: end;
}

.contactpicture {
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ████████████
 ██░░░░░░░░████
 ██░░████░░░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░████░░░░██
 ██░░░░░░░░████
 ████████████
*/

.defaultpicture {
  height: 100px;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██████
*/

.facebooklogo {
  height: 50px;
  border: 1px solid black;
  background-color: white;
}

.fedexlogo {
  /* width: 50px; */
  height: 100px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

/* Style the video: 100% width and height to cover the entire window */
#homevideo {
  position: relative;
  /* right: 0; */
  top: 0px;
  width: 100%;
  min-height: 100%; /*We only want the video to cover the width of the page*/
}

html {
    margin: 0 0 0 0;
    background-color: #fff;
    position: relative;
    height: 100%;
    /* Keeps Scroll bar from shifting the content of the page*/
    /* overflow-y: overlay;  */
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████
 ██░░░░░░██
 ████░░████
   ██░░██
   ██░░██
   ██░░██
   ██░░██
   ██░░██
 ████░░████
 ██░░░░░░██
 ██████████
*/

.inlinetextlink {
  color: #0073e5;
  display: inline;
  font-weight: 700;
  font-size: 50px;
}

.inlinetexttitle {
  /* color: #3AA4DF; */
  color: white;
  font-weight: 700;
  font-size: 50px;
}

.instagramlogo {
  height: 50px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
         ██████
         ██░░██
         ██░░██
         ██░░██
         ██░░██
         ██░░██
 ██████  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ████████
 ██░░██  ██░░░░██
 ██░░██  ██░░████
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░████
 ██░░██  ██░░░░██
 ██████  ████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

li {
  position: relative;
  display: block;
}

.linkedinlogo {
  height: 50px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/*
██████          ██████
██░░██████████████░░██
██░░░░░░░░░░░░░░░░░░██
██░░██████░░██████░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██████  ██░░██
██░░██          ██░░██
██░░██          ██░░██
██░░██          ██░░██
██████          ██████
*/

.menu {
    position: fixed;
    width: 100%;
    padding-right: 50px;
    /*height needs to match the scrollable content height*/
    min-height: 10%; 
    background: linear-gradient(to right, black, 10%, #060d1a);
    z-index: 10; /*Higher the number, the further front the content is*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    overflow: hidden;
}

.menuitem {
  position: relative;
  /* display: flex; */
  color: white;
  float: right;
  padding: 5px;
  font-size: 1.3vh;
}

.menuitemcontainer {
  position: fixed;
  width: 100%;
  min-height: inherit; 
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.menu1 {
  height: 50px;
  width: 50px;
  background-color: red;
  transition: transform .2s; /* Animation */
}

.menu1:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: blue;
  /* Transition time is determined in the parent class */
}



/* ---------------------------------------------------------------------------------------------- N ---------------------------------------------------------------------------------------------- */
/* 
██████████      ██████
██░░░░██████    ██░░██
██░░░░░░░░████  ██░░██
██░░████░░░░██  ██░░██
██░░██████░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██████░░██
██░░██  ██░░░░████░░██
██░░██  ████░░░░░░░░██
██░░██    ██████░░░░██
██████      ██████████
 */

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/*
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██████████████
*/

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/* 
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██░░██████████
██░░██
██░░██
██░░██
██████
*/

.partnerrow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  height: max-content;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ████████████████
  */
/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████████████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ██░░██████░░████
 ██░░██  ██░░██
 ██░░██  ██░░██████
 ██░░██  ██░░░░░░██
 ██████  ██████████
 */

.raymondjameslogo {
  /* width: 50px; */
  height: 100px;
  border: 1px solid black;
  background-color: white;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████░░██
         ██░░██
 ██████████░░██
 ██░░░░░░░░░░██
 ██████████████
 */

.scrollableContent {
  position: relative;
  overflow-y: auto;
  display: block;
  width: 100vw;
  height: calc(90%);
  min-height: 90vh;
  /* View height Prevents White space when resizing windows*/
  /* top: 5vh; */
  top: 10%;
  /*This padding needs to match the .contactfooter height*/ /* View height Prevents White space when resizing windows*/
  left: 0px;
  right: 0px;
  /* -OLD- background: #474554; */
  /* background: #D5EDEE; */
  background: #091325;
  color: white;
  z-index: 2; /*The lower the number, the further back the content is*/
  /* margin-bottom: 5vh; */
}

.sedgwicklogo {
  /* width: 50px; */
  height: 100px;
  border: 1px solid black;
}

.servicessection {
  display: inline-flex;
  width: 100%;
  vertical-align: top;
  /* background-color:#122449; */
}

.servicessectionpicture {
  display: inline;
}


.servicessectiontext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  color: white;
}

.servicessectiontext a {
  color: white;
}

.servicestitle {
  display:inline-block;
  vertical-align: top;
}

.servicesdescription {
  display: block;
}

.sociallinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██████░░██████
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██████
*/

.test1 {
  height: 50px;
  width: 50px;
  background-color: red;
  transition: transform .2s; /* Animation */
}

.test1:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: blue;
  /* Transition time is determined in the parent class */
}

.textcontent {
  padding: 50px 50px 0px 50px;
}

.textdescription {
  /* color: #6EC1E4; */
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.textlink {
  color: #0073e5;
}

.texttitle {
  /* color: #3AA4DF; */
  color: white;
  font-weight: 700;
  font-size: 50px;
}

.twitterlogo {
  height: 50px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/
ul {
  position: relative;
  display: block
}
.umrflogo {
  position: absolute;  /* max-width: 100%; */
  max-height: calc(100% - 20px);
  height: 100%;
  padding: 10px;
  left: 20px;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░░░██░░░░██
 ████░░░░░░████
   ████░░████
     ██████
*/

.videocontainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: fit-content;
}

/* Add some content at the bottom of the video/page */
.videooverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  bottom: 0px; /*content hangs off the bottom of the video due to vh somewhere*/
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████          ██████
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██  ██████  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██████░░██████░░██
 ██░░░░░░░░░░░░░░░░░░██
 ██░░██████░░██████░░██
 ██████  ██████  ██████
*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #050b15;
  box-shadow: inset 0 0 5px black; 
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e1c37; 
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d1a31; 
}

.welcomecontainer {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 10% 5% 10% 5%; /*top, right, bottom. left*/
  border-bottom: 10px solid #38348b;
  /* background-color:#122449; */
  background: linear-gradient(to right, #060d1a, 60%, #091325);
}

.welcomedescription {
  display: block;
  font-size: 20px;
  font-weight: 40;
  padding: 20px 0px 10px 0px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.728);
  font-variant: none;
  /* text-align: center; */
}

.welcometext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 0px 0px 50px; /*Top, right, bottom, left - different measurements based on container padding*/
  font-size: fit-content;
  font-variant: small-caps;
}

.welcometitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 50px;
  color: #0073e5;
}
.welcomesubtitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 900;
  font-size: 50px;
  color: white;
  letter-spacing: -1px;
  line-height: 50px;;
}

.welcomevideo {
  display: inline;
  width: 50%;
  height: max-content;
  box-shadow: 0px 0px 100px 10px #060d1a;  
  /* margin: 100px 0px 100px 0px; */
  /* filter: sepia(1) hue-rotate(200deg);  */
}


/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ██░░░░░░██
   ████░░░░░░████
   ██░░░░██░░░░██
 ████░░██  ██░░████
 ██░░░░██  ██░░░░██
 ████████  ████████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ████░░████
       ██░░██
       ██░░██
       ██░░██
       ██░░██
       ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████████
 ██░░░░░░░░░░░░░░██
 ████████████░░░░██
         ████░░████
       ████░░████
     ████░░████
   ████░░████
 ████░░████
 ██░░░░████████████
 ██░░░░░░░░░░░░░░██
 ██████████████████
*/



