* {
    font-family: sans-serif;
    margin: 0px; /*This document has a header and a scrollable body, this line sets all margins at zero to prevent content moving when new elements are added*/
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

/*This is the color of links*/
a {
    color: #254992;
    position: relative;
    display: block;
    font-weight: bold;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ████████████████
*/

body {
    margin: 0 0 0 0;
    background-color: #fff;
    /* position: relative; */
    height: 100%;
    position: fixed; /*When the Body is fixed, we don't see scroll bar overlaying the menu, instead we only see scroll bars where the content extends past the height of the window*/
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

.contactbutton {
  border-radius: 8px;
  background-color: white;
  padding: 10px;
}

.contactfooter {
    /* background: #0e0e21; */
    background: #060d1a;
    position: sticky;
    display: block; /*Display block moves all surrounding content above or below this content*/
    /*This height needs to match the .scrollablecontent padding*/
    height: 5%; /*having to use % instead of pixels for consistency with menu sizing*/ 
    width: 100%;
    top: 100%; /*keeps footer at the bottom of the page*/
    z-index: 3;
    align-items: end;
}

.contactpicture {
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ████████████
 ██░░░░░░░░████
 ██░░████░░░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░████░░░░██
 ██░░░░░░░░████
 ████████████
*/

.defaultpicture {
  height: 100px;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

.employmentcontainer {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 10% 5% 10% 5%; /*top, right, bottom. left*/
  border-bottom: 10px solid #38348b;
  background-image: url('assets/ChristmasParty.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,25,.80);
  background-blend-mode: multiply;
}


.employmentdescription {
  display: block;
  font-size: 20px;
  font-weight: 40;
  padding: 20px 0px 10px 0px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.728);
  font-variant: none;
  z-index: 10;
  /* text-align: center; */
}

.employmenttext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 0px 0px 50px; /*Top, right, bottom, left - different measurements based on container padding*/
  font-size: fit-content;
  font-variant: small-caps;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* text-shadow: 0px 0px 100px 10px #060d1a;   */
}

.employmenttitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 50px;
  color: #0073e5;
}
.employmentsubtitle {
  display: block;
  /* vertical-align: top; */
  font-weight: 900;
  font-size: 50px;
  color: white;
  letter-spacing: -1px;
  line-height: 50px;;
}

.employmentvideo {
  position: relative;
  display: inline;
  width: 50%;
  height: max-content;
  box-shadow: 0px 0px 100px 10px #060d1a;
  flex: 3; 
  border-radius: 10px;
  /* margin: 100px 0px 100px 0px; */
  /* filter: sepia(1) hue-rotate(200deg);  */
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██
 ██████
*/

.facebooklogo {
  height: 50px;
  border: 1px solid black;
  background-color: white;
}

.fedexlogo {
  /* width: 50px; */
  height: 180px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██
 ██░░██  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██████  ██████
*/

/* Style the video: 100% width and height to cover the entire window */
#homevideo {
  position: relative;
  /* right: 0; */
  top: 0px;
  width: 100%;
  min-height: 100%; /*We only want the video to cover the width of the page*/
}

html {
    margin: 0 0 0 0;
    background-color: #fff;
    position: relative;
    height: 100%;
    /* Keeps Scroll bar from shifting the content of the page*/
    /* overflow-y: overlay;  */
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████████
 ██░░░░░░██
 ████░░████
   ██░░██
   ██░░██
   ██░░██
   ██░░██
   ██░░██
 ████░░████
 ██░░░░░░██
 ██████████
*/

.inlinetextlink {
  color: #0073e5;
  display: inline;
  font-weight: 700;
  font-size: 50px;
}

.inlinetexttitle {
  /* color: #3AA4DF; */
  color: white;
  font-weight: 700;
  font-size: 50px;
}

.instagramlogo {
  height: 50px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
         ██████
         ██░░██
         ██░░██
         ██░░██
         ██░░██
         ██░░██
 ██████  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ████████
 ██░░██  ██░░░░██
 ██░░██  ██░░████
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░████
 ██░░██  ██░░░░██
 ██████  ████████
*/

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/* 
 ██████
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████████
*/

li {
  position: relative;
  display: block;
}

.linkedinlogo {
  height: 50px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- M ---------------------------------------------------------------------------------------------- */
/*
██████          ██████
██░░██████████████░░██
██░░░░░░░░░░░░░░░░░░██
██░░██████░░██████░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██████  ██░░██
██░░██          ██░░██
██░░██          ██░░██
██░░██          ██░░██
██████          ██████
*/

.menu {
    position: fixed;
    width: 100%;
    padding-right: 50px;
    /*height needs to match the scrollable content height*/
    min-height: 10%; 
    background: linear-gradient(to right, black, 10%, #060d1a);
    z-index: 10; /*Higher the number, the further front the content is*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    overflow: hidden;
}

.menuitem {
  position: relative;
  /* display: flex; */
  color: white;
  float: right;
  padding: 5px;
  font-size: 2vh;
}

.menuitem:hover {
  color: #2980B9;
}

.menuitem.connectbutton {
  background-color: white;
  color: blue;
  border-radius: 10px;
  border-color: rgb(64, 64, 188);
  text-align: center;
  padding: 10px;
}

.menuitem.current {
  color: #2980B9;
  /* text-decoration: underline; */
  /* text-decoration-color: white; */
  /* text-decoration-color: #034b8a; */
  /* text-decoration-thickness: 5px; */
  /* text-underline-offset: 8px; */
}

.menuitemcontainer {
  position: fixed;
  width: 100%;
  min-height: inherit; 
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.menu1 {
  height: 50px;
  width: 50px;
  background-color: red;
  transition: transform .2s; /* Animation */
}

.menu1:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: blue;
  /* Transition time is determined in the parent class */
}



/* ---------------------------------------------------------------------------------------------- N ---------------------------------------------------------------------------------------------- */
/* 
██████████      ██████
██░░░░██████    ██░░██
██░░░░░░░░████  ██░░██
██░░████░░░░██  ██░░██
██░░██████░░██  ██░░██
██░░██  ██░░██  ██░░██
██░░██  ██░░██████░░██
██░░██  ██░░░░████░░██
██░░██  ████░░░░░░░░██
██░░██    ██████░░░░██
██████      ██████████
 */

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/*
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██████████████
*/

/* ---------------------------------------------------------------------------------------------- P ---------------------------------------------------------------------------------------------- */
/* 
██████████████
██░░░░░░░░░░██
██░░██████░░██
██░░██  ██░░██
██░░██████░░██
██░░░░░░░░░░██
██░░██████████
██░░██
██░░██
██░░██
██████
*/

.partnerrow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  height: max-content;
  width: 100%;
}

.partnershowcase {
  position: relative;
  width: 100%;
  height: auto;
  /* background-color: #034b8a; */
}


.partnershowcasecontainer {
  position: relative;
  /* background-color: #034b8a; */
  /* background-color: #0067c2; */
  background-image: url('assets/PartnerShowcase1.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0px 0px;
  width: 80%;
  height: 0;
  /* padding: 0% 10% 0% 10%; */
  margin: 0% 10% 0% 10%;
  padding-bottom: 46.5%; /*Padding-Height Work around required to show showcase*/
  /* border-bottom: 10px solid #38348b; */
  /* background-color: #034b8a; */
}

/* The Sizing of the height, width, and top margin is specific */
/* Height needs to be half of width */
/* Top margin needs to be (100% - width%) / 2 */
/* Left margin needs to match the top margin */
.partnershowcasetop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 35%; */
  /* width: 70%; */
  /* top: 15%; */
  /* left: 15%; */

  height: 50%;
  width: 100%;
  top: 0%;
  left: 0%;
}

/* The Sizing of the height, width, and top margin is specific */
/* Height needs to be half of width */
/* Bottom margin needs to be (100% - width%) / 2 */
/* Left margin needs to match the bottom margin */
.partnershowcasebottom {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 35%; */
  /* width: 70%; */
  /* bottom: 15%;  */
  /* left: 15%; */
  height: 50%;
  width: 100%;
  bottom: 0%;
  left: 0%;
}

.partnershowcasetopleft {
  height: 80%;
  width: 80%;
  background-image: url('assets/PartnerSectionFedExWhite.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.partnershowcasetopleft:hover {
  background-image: url('assets/PartnerSectionFedExText.png');
}

/* .partnershowcasetoplefttext { */
  /* display: none; */
/* } */

/* .partnershowcasetopleft:hover { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: none; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */

/* .partnershowcasetopleft:hover + .partnershowcasetoplefttext { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: block; */
  /* position: relative; */
  /* top: 0px; */
  /* left: 0px; */
  /* height: 100%; */
  /* width: 100%; */
  /* margin: auto; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */

.partnershowcasetopright {
  height: 80%;
  width: 80%;
  background-image: url('assets/PartnerSectionRaymondJamesWhite.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.partnershowcasetopright:hover {
  background-image: url('assets/PartnerSectionRaymondJamesText.png');
}

/* .partnershowcasetoprighttext {
  display: none;
} */

/* .partnershowcasetopright:hover { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: none; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */

/* .partnershowcasetopright:hover + .partnershowcasetoprighttext { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: block; */
  /* position: relative; */
  /* top: 0px; */
  /* left: 0px; */
  /* height: 100%; */
  /* width: 100%; */
  /* margin: auto; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */


.partnershowcasebottomleft {
  height: 80%;
  width: 80%;
  background-image: url('assets/PartnerSectionSedgwickWhite.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.partnershowcasebottomleft:hover {
  background-image: url('assets/PartnerSectionSedgwickText.png');
}

/* .partnershowcasebottomlefttext {
  display: none;
} */

/* .partnershowcasebottomleft:hover { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: none; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */

/* .partnershowcasebottomleft:hover + .partnershowcasebottomlefttext { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: block; */
  /* position: relative; */
  /* top: 0px; */
  /* left: 0px; */
  /* height: 100%; */
  /* width: 100%; */
  /* margin: auto; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */

.partnershowcasebottomright {
  height: 80%;
  width: 80%;
  background-image: url('assets/PartnerSectionCityofMemphisWhite.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.partnershowcasebottomright:hover {
  background-image: url('assets/PartnerSectionCityofMemphisText.png');
}

/* .partnershowcasebottomrighttext { */
  /* display: none; */
/* } */

/* .partnershowcasebottomright:hover { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: none; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */

/* .partnershowcasebottomright:hover + .partnershowcasebottomrighttext { */
  /* background-image: url('assets/PartnerSectionFedEx.png'); */
  /* display: block; */
  /* position: relative; */
  /* top: 0px; */
  /* left: 0px; */
  /* height: 100%; */
  /* width: 100%; */
  /* margin: auto; */
  /* transition-delay: 100ms; /* Add a slight delay */
/* } */

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░████
 ██░░░░░░░░░░░░██
 ████████████████
  */
/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████████████
 ██░░░░░░░░░░░░██
 ██░░████████░░██
 ██░░██    ██░░██
 ██░░████████░░██
 ██░░░░░░░░░░░░██
 ██░░██████░░████
 ██░░██  ██░░██
 ██░░██  ██░░██████
 ██░░██  ██░░░░░░██
 ██████  ██████████
 */

.raymondjameslogo {
  /* width: 50px; */
  height: 180px;
  border: 1px solid black;
  background-color: white;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██░░██████████
 ██░░██
 ██░░██████████
 ██░░░░░░░░░░██
 ██████████░░██
         ██░░██
 ██████████░░██
 ██░░░░░░░░░░██
 ██████████████
 */

.scrollableContent {
  position: relative;
  overflow-y: auto;
  overflow-x: none;
  display: block;
  width: 100vw;
  height: calc(90%);
  min-height: 90vh;
  /* View height Prevents White space when resizing windows*/
  /* top: 5vh; */
  top: 10%;
  /*This padding needs to match the .contactfooter height*/ /* View height Prevents White space when resizing windows*/
  left: 0px;
  right: 0px;
  /* -OLD- background: #474554; */
  /* background: #D5EDEE; */
  background: #091325;
  color: white;
  z-index: 2; /*The lower the number, the further back the content is*/
  /* margin-bottom: 5vh; */
}

.sedgwicklogo {
  /* width: 50px; */
  height: 180px;
  border: 1px solid black;
}

.serviceoptionscontainer {
  display: flex;
  justify-content: space-evenly;
  padding: 10% 0% 10% 0%;
  margin: 5% 0% 0% 0%;
  border-top: 10px solid #38348b;
  border-bottom: 10px solid #38348b;
}

.serviceoption {
  width: 25%;
  text-align: center;
}

.servicedescription {
  /* color: #6EC1E4; */
  color: white;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
}

.servicetitle {
  /* color: #0073e5; */
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin: 0px 0px 15px 0px;
}

.serviceoptionsphoto {
  /* This line changes the black image to white */
  filter: invert(100%);
  margin: 0px 0px 15px 0px;
}

.servicessection {
  display: inline-flex;
  width: 50%;
  vertical-align: top;
  /* background-color:#122449; */
}

.servicessectionpicture {
  display: inline;
}

.servicessectiontext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  color: white;
}

.servicessectiontext a {
  color: white;
}

.servicestitle {
  display:inline-block;
  vertical-align: top;
}

.servicesdescription {
  display: block;
}

.sociallinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████
 ██░░░░░░░░░░██
 ██████░░██████
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██░░██
     ██████
*/

.test1 {
  height: 50px;
  width: 50px;
  background-color: red;
  transition: transform .2s; /* Animation */
}

.test1:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background-color: blue;
  /* Transition time is determined in the parent class */
}

.textcontent {
  padding: 50px 50px 50px 50px;
  text-align: center;
  /* background-color: #0067c2; */
  /* border-bottom: 10px solid #38348b; */
}

.textdescription {
  /* color: #6EC1E4; */
  display: inline;
  /* color: white; */
  color: rgba(255, 255, 255, 0.728);
  font-weight: 500;
  font-size: 20px;
}

a.textdescription {
  /* color: #6EC1E4; */
  display: inline;
  color: white;
  /* color: rgba(255, 255, 255, 0.728); */
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}

.textlink {
  color: #0073e5;
}

.texttitle {
  /* color: #0073e5; */
  color: white;
  font-weight: 700;
  font-size: 50px;
}

.twitterlogo {
  height: 50px;
  border: 1px solid black;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██████░░██
 ██░░░░░░░░░░██
 ██████████████
*/
ul {
  position: relative;
  display: block
}
.umrflogo {
  position: absolute;  /* max-width: 100%; */
  max-height: calc(100% - 20px);
  height: 100%;
  padding: 10px;
  left: 20px;
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████  ██████
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░██  ██░░██
 ██░░░░██░░░░██
 ████░░░░░░████
   ████░░████
     ██████
*/

.videocontainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: fit-content;
}

/* Add some content at the bottom of the video/page */
.videooverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  bottom: 0px; /*content hangs off the bottom of the video due to vh somewhere*/
}

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████          ██████
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██          ██░░██
 ██░░██  ██████  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██  ██░░██  ██░░██
 ██░░██████░░██████░░██
 ██░░░░░░░░░░░░░░░░░░██
 ██░░██████░░██████░░██
 ██████  ██████  ██████
*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #050b15;
  box-shadow: inset 0 0 5px black; 
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e1c37; 
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d1a31; 
}

.welcomecontainer {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 10% 5% 10% 5%; /*top, right, bottom. left*/
  border-bottom: 10px solid #38348b;
  background-image: url('assets/CampusAdministrationBuildingBlur.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,25,.80);
  background-blend-mode: multiply;
}


.welcomedescription {
  display: block;
  font-size: 20px;
  font-weight: 40;
  padding: 20px 0px 10px 0px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.728);
  font-variant: none;
  z-index: 10;
  /* text-align: center; */
}

.welcometext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 0px 0px 50px; /*Top, right, bottom, left - different measurements based on container padding*/
  font-size: fit-content;
  font-variant: small-caps;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* text-shadow: 0px 0px 100px 10px #060d1a;   */
}

.welcometitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 50px;
  color: #0073e5;
}
.welcomesubtitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 900;
  font-size: 50px;
  color: white;
  letter-spacing: -1px;
  line-height: 50px;;
}

.welcomevideo {
  position: relative;
  display: inline;
  width: 50%;
  height: max-content;
  box-shadow: 0px 0px 100px 10px #060d1a;
  flex: 3; 
  border-radius: 10px;
  /* margin: 100px 0px 100px 0px; */
  /* filter: sepia(1) hue-rotate(200deg);  */
}

/* This id is used to keep the menu item colorized even when on a different url */
.whoweare.current{
  color: #2980B9;
}

.whowearelinks {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 50px;
}

.whowearelinkitem {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1.5em;
}

.whowearelinkitem:hover {
  color: #2980B9;
}

.whowearelinkitem.current {
  color: #2980B9;
}

.wwaphoto {
  width: 50%;
  border-radius: 10px;
}

.wwacontact {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 5% 5% 5% 5%; /*top, right, bottom. left*/
  justify-content: space-evenly;
}

.wwacontactsubtitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 900;
  font-size: 50px;
  color: white;
  letter-spacing: -1px;
  line-height: 50px;
}

.wwacontactdescription {
  display: block;
  font-size: 20px;
  font-weight: 40;
  padding: 20px 0px 10px 0px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.728);
  font-variant: none;
  z-index: 10;
  /* text-align: center; */
}

.wwacontacttext {
  width: 60%;
}

.wwacontainer {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 0% 5% 5% 5%; /*top, right, bottom. left*/
  /* border-bottom: 10px solid #38348b; */
  /* background-image: url('assets/CampusAdministrationBuildingBlur.png'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-color: rgba(0,0,25,.80); */
  /* background-blend-mode: multiply; */
}

.wwacontainerbottom {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 0% 5% 5% 5%; /*top, right, bottom. left*/
  /* border-bottom: 10px solid #38348b; */
  /* background-image: url('assets/CampusAdministrationBuildingBlur.png'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-color: rgba(0,0,25,.80); */
  /* background-blend-mode: multiply; */
}

.wwadescription {
  display: block;
  font-size: 20px;
  font-weight: 40;
  padding: 20px 0px 10px 0px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.728);
  font-variant: none;
  z-index: 10;
  /* text-align: center; */
}

.wwatext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 0px 0px 50px; /*Top, right, bottom, left - different measurements based on container padding*/
  font-size: fit-content;
  font-variant: small-caps;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* text-shadow: 0px 0px 100px 10px #060d1a;   */
}

.wwatextleft {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 50px 0px 0px; /*Top, right, bottom, left - different measurements based on container padding*/
  font-size: fit-content;
  font-variant: small-caps;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* text-shadow: 0px 0px 100px 10px #060d1a;   */
}

.wwatitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 50px;
  color: #0073e5;
}

.wwasubtitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 900;
  font-size: 50px;
  color: white;
  letter-spacing: -1px;
  line-height: 50px;
}


.wwaphoto {
  position: relative;
  display: inline;
  width: 47%;
  height: max-content;
  box-shadow: 0px 0px 100px 10px #060d1a;
  flex: 3; 
  /* margin: 100px 0px 100px 0px; */
  /* filter: sepia(1) hue-rotate(200deg);  */
}

/* .wwdcontainer {
  display: flex;
} */

.wwdphoto {
  width: 50%;
  border-radius: 10px;
}

.wwdcontact {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 5% 5% 5% 5%; /*top, right, bottom. left*/
  justify-content: space-evenly;
}

.wwdcontactsubtitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 900;
  font-size: 50px;
  color: white;
  letter-spacing: -1px;
  line-height: 50px;
}

.wwdcontactdescription {
  display: block;
  font-size: 20px;
  font-weight: 40;
  padding: 20px 0px 10px 0px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.728);
  font-variant: none;
  z-index: 10;
  /* text-align: center; */
}

.wwdcontacttext {
  width: 60%;
}

.wwdcontainer {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 5% 5% 5% 5%; /*top, right, bottom. left*/
  /* border-bottom: 10px solid #38348b; */
  /* background-image: url('assets/CampusAdministrationBuildingBlur.png'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-color: rgba(0,0,25,.80); */
  /* background-blend-mode: multiply; */
}

.wwdcontainerbottom {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10%); /*This calculation width needs to match the padding*/
  vertical-align: top;
  padding: 0% 5% 0% 5%; /*top, right, bottom. left*/
  /* border-bottom: 10px solid #38348b; */
  /* background-image: url('assets/CampusAdministrationBuildingBlur.png'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-color: rgba(0,0,25,.80); */
  /* background-blend-mode: multiply; */
}

.wwddescription {
  display: block;
  font-size: 20px;
  font-weight: 40;
  padding: 20px 0px 10px 0px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.728);
  font-variant: none;
  z-index: 10;
  /* text-align: center; */
}

.wwdtext {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 0px 0px 50px; /*Top, right, bottom, left - different measurements based on container padding*/
  font-size: fit-content;
  font-variant: small-caps;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* text-shadow: 0px 0px 100px 10px #060d1a;   */
}

.wwdtextleft {
  display: inline;
  width: fit-content;
  text-overflow: wrap;
  padding: 0px 50px 0px 0px; /*Top, right, bottom, left - different measurements based on container padding*/
  font-size: fit-content;
  font-variant: small-caps;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  /* text-shadow: 0px 0px 100px 10px #060d1a;   */
}

.wwdtitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 50px;
  color: #0073e5;
}

.wwdsubtitle {
  display:inline-block;
  vertical-align: top;
  font-weight: 900;
  font-size: 50px;
  color: white;
  letter-spacing: -1px;
  line-height: 50px;
}


.wwdphoto {
  position: relative;
  display: inline;
  width: 47%;
  height: max-content;
  box-shadow: 0px 0px 100px 10px #060d1a;
  flex: 3; 
  /* margin: 100px 0px 100px 0px; */
  /* filter: sepia(1) hue-rotate(200deg);  */
}


/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ██░░░░░░██
   ████░░░░░░████
   ██░░░░██░░░░██
 ████░░██  ██░░████
 ██░░░░██  ██░░░░██
 ████████  ████████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ████████  ████████
 ██░░░░██  ██░░░░██
 ████░░██  ██░░████
   ██░░░░██░░░░██
   ████░░░░░░████
     ████░░████
       ██░░██
       ██░░██
       ██░░██
       ██░░██
       ██████
*/

/* ---------------------------------------------------------------------------------------------- S ---------------------------------------------------------------------------------------------- */
/* 
 ██████████████████
 ██░░░░░░░░░░░░░░██
 ████████████░░░░██
         ████░░████
       ████░░████
     ████░░████
   ████░░████
 ████░░████
 ██░░░░████████████
 ██░░░░░░░░░░░░░░██
 ██████████████████
*/

/* * {box-sizing: border-box} */
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: calc(100% - 100px);
  /* padding: 0px 50px; */
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 100px 10px #060d1a;
  /* background-color:#050b15; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  /* width: 100%; */
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



